<%= form_with model: [@article, Comment.new], class: 'mt-2', id: 'submit-comment-form' do |f| %>
  <div class="form-group">
    <%= f.text_area :body, class: 'form-control', placeholder: 'type text of a commentary' %>
  </div>
  <div class="form">
    <%= f.submit 'Save', class: 'btn btn-success', style: 'width: 133px;' %>
  </div>
<% end %>
