<div class="rating-selectors">
  <%= button_to('▲', comment_votes_path(comment),
                form_class: 'vote-up',
                class: 'no-button liked',
                remote: true,
                params: { vote_type: :like }) %>
  <%= button_to('▼', comment_vote_path(comment, Vote),
                form_class: 'vote-down',
                class: 'no-button',
                remote: true,
                params: { vote_type: :like },
                method: :delete) %>
</div>
